[submodule "hisat2"]
	path = hisat2
	url = https://github.com/infphilo/hisat2.git
[submodule "stringtie"]
	path = stringtie
	url = https://github.com/gpertea/stringtie.git
[submodule "samtools"]
	path = samtools
	url = https://github.com/samtools/samtools.git
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
[submodule "bcftools"]
	path = bcftools
	url = https://github.com/samtools/bcftools.git
[submodule "vcftools"]
	path = vcftools
	url = https://github.com/vcftools/vcftools.git
[submodule "bowtie2"]
	path = bowtie2
	url = https://github.com/BenLangmead/bowtie2.git
[submodule "cufflinks"]
	path = cufflinks
	url = https://github.com/cole-trapnell-lab/cufflinks.git
[submodule "picard"]
	path = picard
	url = https://github.com/broadinstitute/picard.git
